body {
    background-color: #ffffff;
    color: #111111;
    font-family: sans-serif;
    padding: 2em;
    margin: 0 auto;
    max-width: 60em;
}

a:link, a:active, a:visited {
    color: #3465a4;
}

ul.rooms {
    padding-left: 0;
}

ul.rooms > li {
    list-style-type: none;
    margin-top: 0.5em;
}

.post {
    background-color: #f7fafc;
    border: solid 1px #ebebeb;
    padding: 0.5em;
    margin-top: 1em;
    width: max-content;
    max-width: 100%;
}

.post:target {
    border: solid 1px #333333;
}

.post.placeholder {
    background-color: #fdfdfd;
}

.post p {
    clear: both;
    margin: 0.3em 0 0 0;
    width: max-content;
    max-width: 100%;
}

.post .author {
    font-weight: bold;
}

.post .time {
    color: #555555;
    float: right;
    margin-left: 1em;
    text-decoration: none;
    border-bottom: dotted 1px #aaaaaa;
}

form.post button {
    float: right;
    margin-left: 0.5em;
}

form.post textarea {
    width: 30em;
}
