<!DOCTYPE html>

<html>

  {{/* TODO: don't hardcode root in URLs: we might be in a sub-path */ -}}

  <head>
    <title>{{block "title" .}}nnBB{{end}}</title>
    <meta name=charset value=utf8>
    <link rel=stylesheet href="/static/nnbb.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="http://intercoolerjs.org/release/intercooler-1.2.2.js"></script>
  </head>

  <body>
    {{if .User}}
      <form class=userinfo action="/logout/" method=post>
        <span class=author>{{.User}}</span> <button type=submit>log out</button>
        <input type=hidden name=redir value="{{.URL}}">
      </form>
    {{else}}
      <div class=userinfo>
        <a href="/signup/?redir={{.URL}}">sign up</a>
      </div>
    {{end}}

    {{block "nav" .}}{{end}}

    <h1>{{template "title" .}}</h1>

    {{block "body" .}}{{end}}
  </body>

</html>
