{{define "body"}}
<ul class=rooms>
  {{range .Rooms}}
  <li>
    <a href="{{.ID.Hex}}/">{{.Title}}</a>
    {{.Serial}} post{{if ne .Serial 1}}s{{end}},
    updated {{.Updated.Format "2006 Jan 2 15:04"}}
  </li>
  {{end}}
</ul>

<h2>Start new room</h2>
{{if .User -}}
<form id=newroom method=post>
  <p>
    <label>Title: <input name=title required></label>
    <button type=submit>Start</button>
  </p>
</form>
{{- else -}}
<p>
  <a href="/signup/?redir={{.URL}}">Log in or sign up</a>
  to participate in discussions
</p>
{{- end}}

{{end}}
