{{define "title"}}{{.Room.Title}}{{end}}

{{define "nav"}}
<nav><a href="../">← all rooms</a></nav>
{{end}}

{{define "body"}}
<div {{if not .Following}}ic-sse-src="updates/?since={{.LastPost.Serial}}" ic-swap-style="append"{{end}}>
  {{block "posts" . -}}

  {{if .Preceding -}}
  <div class="post placeholder" id=older ic-enhance=true>
    <a href="?before={{.FirstPost.Serial}}"
       ic-target="#older" ic-replace-target=true ic-push-url=false
       >...older posts...</a>
    ({{.Preceding}} total)
  </div>
  {{- end}}

  {{range .Posts -}}
  {{block "post" . -}}
  <div class=post id=post{{.Serial}}>
    <span class=author>{{.Author}}</span>
    <a class=time title=permalink href="?before={{addUint64 .Serial 10}}#post{{.Serial}}">
      {{/* TODO: nicer time rendering, timezone-aware */ -}}
      {{.Time.Format "2006 Jan 2 15:04"}}
    </a>
    <p>{{.Text}}</p>
  </div>
  {{- end}}
  {{- end}}

  {{if .Following -}}
  <div class="post placeholder" id=newer ic-enhance=true>
    <a href="?since={{.LastPost.Serial}}"
       ic-target="#newer" ic-replace-target=true ic-push-url=false
       >...newer posts...</a>
    ({{.Following}} total)
  </div>
  {{- end}}

  {{- end}}
</div>

{{block "postform" . -}}
<form id=newpost class=post method=post
      ic-post-to="." ic-replace-target=true>
  {{if .Following -}}
  <div><a href=".">Go to latest discussion</a></div>
  {{- else if eq .User "" -}}
  <div><a href="/signup/?redir={{.URL}}">Log in or sign up</a>
  to participate in this discussion</div>
  {{- else -}}
  <div><span class=author>{{.User}}</span></div>
  <p><textarea name=text required></textarea> <button>Post</button></p>
  {{- end}}
  </div>
</form>
{{- end}}

{{end}}
